dn: olcDatabase={2}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ ldap_suffix }}
-
replace: olcRootDN
olcRootDN: {{ ldap_root_dn }}
-
replace: olcRootPW
olcRootPW: {{ ldap_root_pw_hash }}
