dn: cn=config
changetype: modify
replace: olcTLSCertificateFile
olcTLSCertificateFile: {{ ldap_tls_cert_path_effective }}
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ ldap_tls_key_path_effective }}
-
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: {{ ldap_tls_ca_path_effective }}
