{%- set targets = [] -%}
{%- for host in groups['all'] | default([]) -%}
{%- set host_node_exporter_enabled = hostvars[host].node_exporter_enabled | default(true) | bool -%}
{%- if host_node_exporter_enabled -%}
{%- set _ = targets.append((hostvars[host].ansible_host | default(host)) ~ ':' ~ node_exporter_port) -%}
{%- endif -%}
{%- endfor -%}
{{ [ {"targets": targets} ] | to_json }}
