{%- set entries = [] -%}
{%- for host in groups['all'] | default([]) -%}
{%- set host_node_exporter_enabled = hostvars[host].node_exporter_enabled | default(true) | bool -%}
{%- if host_node_exporter_enabled -%}
{%- set _ = entries.append({"targets": [(hostvars[host].ansible_host | default(host)) ~ ':' ~ node_exporter_port], "labels": {"instance": host}}) -%}
{%- endif -%}
{%- endfor -%}
{{ entries | to_json }}
